/* remove margin & padding */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}

#character-button {
  /* all: unset; */
  padding: 5px;
  background-color: #ff0084;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

#button-change-name {
  /* all: unset; */
  padding: 5px;
  background-color: #ff0084;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

#name-change-input {
  /* all: unset; */
  padding: 5px;
  background-color: #ff0084;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}
